# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tailwind CSS output (if any generated)
tailwind.css
tailwind.min.css
tailwindcss.exe

# Node + Tailwind (if used)
node_modules/
build/
dist/
